html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.header {
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    color: #ddd;
}

.footer {
    height: 60px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Custom TIMS2 styles */

.chunk-upload-input {
    display: block;
    position: relative;
}

.chunk-upload-input .progress {
    margin: 5px 0;
}

/*.preview-block {*/
/*width: 311px;*/
/*}*/
.content {
    background: url(/images/input.jpg) no-repeat center center fixed;
    min-height: 750px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.frontend-wrapper {
    font-family: "Open Sans", sans-serif;
}

.frontend-wrapper .top-menu {
    text-transform: uppercase;
}

.frontend-wrapper thead {
    text-transform: uppercase;
}

.frontend-wrapper h1 {
    /*color: rgb(105, 105, 105);*/
    font-size: 24px;
    /*font-weight: 300;*/
    letter-spacing: -1px;
    line-height: 24px;
    margin: 0;
    padding: 16px 0 10px;
    text-transform: uppercase;
}

.frontend-wrapper .header-title {
    margin-bottom: 16px;
    text-align: center;
}

.frontend-wrapper .header-title > h1 {
    letter-spacing: -1.2px;
}

.white-background {
    outline: 0 none;
    position: relative;
    clear:both;
}

.right {
    float: right;
    margin: 0 0 5px;
}

.page-loading {
    opacity: 0.5;
    background: #ffffff url('../images/loading.gif') center center no-repeat !important;
}

.page-loading * {
    background: transparent !important;
}

.page-loading td {
    border-color: #efefef !important;
}

.form-group {
    clear: both;
}

#video {
    background: url('../images/video-icon.png') center center no-repeat !important;
    background-size: 80px 80px !important;
}

#evidence-form .form-group {
    margin-bottom: 5px;
}

/*div.required label:after {*/
    /*content: " *";*/
    /*color: #a94442;*/
/*}*/

.evidence-media {
    padding: 0 0 20px 292px;
}
.lightbox-thumb img {
    width: 500px;
}

.frontend-wrapper .navbar {
    margin-bottom: 0;
}


/* review page */

#request-deactivation-form fieldset {
    margin-left: 1%;
    margin-bottom: 8px;
}

#request-deactivation-form fieldset > .form-group:not(.badge-step) {
    margin: 0;
    padding: 0;
}

#deactivate-form .form-group:not(.badge-step) {
    margin: 0;
    padding: 0;
}

.panel > .panel-heading {
    border: none;
    font: bold 1.2em 'Open Sans', sans-serif;
    color: #999;
    text-transform: uppercase;
}

label.help {
    border-bottom: 1px dashed #888;
    cursor: help;
}
#print-preview{
    float:right;
    margin-bottom: 3px;
    margin-right: 7px;
}
